.grid {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.center-content {
  display: inline;
  margin-left: 25%;
  margin-right: 20%;
}

.right-content {
  float: right;
  display: inline;
}

.left-content {
  float: left;
  display: inline;
}

.left-content a {
  font-weight: 700;
  color:black;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

#spacesandcosmos {
  display: inline;
}

.art-title {
  display: inline-block;
  max-width: 382.426px;
  margin: 45px auto 16px auto;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 700px;
  color: #121212;
}

.main-content {
  margin-left: 20%;
}

.big-pic {
  width: 90%;
}

.chunkoftext {
  margin-left: 20%;
  max-width: 550px;
}

.tofinflation {
  margin-left: 10%;
}

#inflation {
  margin-right: 10%;
  width: 85%;
}

.textboxes {
  position: relative;
  display: inline-block;
  margin-left: 10%;
}

.textbox1 {
  position: absolute;
  margin: 0;
  top: 25%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 5px;
  font-size: 12px;
}

.textbox2 {
  position: absolute;
  margin: 0;
  margin-left: 250px;
  top: 25%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}


.textbox3 {
  position: absolute;
  margin: 0;
  margin-left: 500px;
  top: 25%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox4 {
  position: absolute;
  margin: 0;
  margin-left: 750px;
  top: 25%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox5 {
  position: absolute;
  margin: 0;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox6 {
  position: absolute;
  margin: 0;
  margin-left: 250px;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox7 {
  position: absolute;
  margin: 0;
  margin-left: 500px;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox8 {
  position: absolute;
  margin: 0;
  margin-left: 750px;
  top: 75%; /* Adjust this value to move the positioned div up and down */
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}