.nav {
  border-bottom: 1px solid #e2e2e2;
}

.clear {
  clear: both;
}

.center-content {
  float: left;
  margin-left: 25%;
}

.right-content {
  float: right;
}

.left-content {
  float: left;
}

.left-content a {
  font-weight: 700;
  color:black;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

#spacesandcosmos {
  display: inline;
}

.art-title {
  display: inline-block;
  max-width: 382.426px;
  margin: 45px auto 16px auto;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 700px;
  color: #121212;
}

.main-content {
  margin-left: 20%;
}

.big-pic {
  width: 90%;
}

.chunkoftext {
  margin-left: 20%;
  max-width: 550px;
}

.tofinflation {
  margin-left: 10%;
  display: inline-block;
}

#inflation {
  margin-right: 10%;
  width: 85%;
}

.textboxes {
  position: relative;
  display: inline-block;
  margin-left: 10%;
}

.textbox1 {
  position: absolute;
  margin: 0;
  top: 150px;
  max-width: 210px;
  max-height: 5px;
  font-size: 12px;
}

.textbox2 {
  position: absolute;
  margin: 0;
  margin-left: 250px;
  top: 150px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}


.textbox3 {
  position: absolute;
  margin: 0;
  margin-left: 500px;
  top: 150px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox4 {
  position: absolute;
  margin: 0;
  margin-left: 750px;
  top: 150px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox5 {
  position: absolute;
  margin: 0;
  top: 435px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox6 {
  position: absolute;
  margin: 0;
  margin-left: 250px;
  top: 435px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox7 {
  position: absolute;
  margin: 0;
  margin-left: 500px;
  top: 435px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.textbox8 {
  position: absolute;
  margin: 0;
  margin-left: 750px;
  top: 435px;
  max-width: 210px;
  max-height: 100px;
  font-size: 12px;
}

.secondpart {
  margin-top: 20px;
}

.secondpart::before {
  width: 60px;
  content: '';
  display: block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

#littlefont {
  font-size: 12px;
  color: gray;
}

.moretext {
  margin-left: 20%;
  max-width: 550px;
}

.nicebutton {
  color: rgb(153, 153, 153);
  display: inline;
  margin-right: 16px;
  max-width: 600px;
  padding: 0px 1rem 0px 0px;
  border: 0;
}

.read-comments {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  display: inline;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
  text-transform: uppercase;
  transition: background-color 0.6s ease 0s;
  width: 75%;
}

.shareicons {
  display: inline;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.sharecomments {
  display: inline;
}