.grid {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.center-content {
  display: inline;
  margin-left: 25%;
  margin-right: 20%;
}

.right-content {
  float: right;
  display: inline;
}

.left-content {
  float: left;
  display: inline;
}

.left-content a {
  font-weight: 700;
  color:black;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

#spacesandcosmos {
  display: inline;
}

.art-title {
  display: inline-block;
  max-width: 382.426px;
  margin: 45px auto 16px auto;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 700px;
  color: #121212;
}

.main-content {
  margin-left: 20%;
}

.big-pic {
  width: 90%;
}

.chunkoftext {
  margin-left: 20%;
  max-width: 550px;
}

.tofinflation {
  margin-left: 10%;
}

#inflation {
  margin-right: 10%;
  width: 85%;
}

.textboxes {
  position: relative;
  display: inline-block;
}

.textbox1 {
  position: aboslute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%; /* Set the width of the positioned div */
  
}